.footer{
    height: 500px;
    width: 100%;
    position: relative;
    
    margin-top: 20px;
}
.footer-container{
    width: 85.8%;
    height: 260px;
    margin-left: 7.1%;
    top:0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-container-connect{
    width: 300px;
    height: 180px;
    
    position: absolute;
    bottom: 30px;
    right: 65px;
}
.footer-col1,
.footer-col4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-col2-row1
{
    padding-top: 18px;
    padding-bottom: 18px;
}
.footer-col3-row1{
    padding-top: 18px;
    padding-bottom: 18px;
}
.footer-col3-row2,
.footer-col3-row3{
    padding-bottom: 18px;
}


.footer-col1-head,
.footer-col2-head,
.footer-col3-head,
.footer-col4-head
{
    font-size: 20px;
    font-weight: 400px;
}
.footer-container-connect-col{
    display: flex;
    flex-direction: column;
}
.footer-container-connect-col-row1{
    width:100%;
    height: 50px;
    background-color: #313639;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.footer-container-connect-col-row1 img{
position: absolute;
width: 40px;
height: 40px;
left: 10px;
}
.footer-container-connect-col-row1  .sharepage{
    color: white;
    margin-left: -120px;
    
}
.footer-container-connect-col-row2{
color: rgb(149, 152, 153);
font-size: 18px;
font-weight: 600;
}
.footer-container-connect-col-row3{
    width:290px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.footer-container-connect-col-row3 img{
    position: absolute;
    width: 50px;
    height: 50px;
    
    
    
}
.connect-icon-fb,
.connect-icon-youtube,
.connect-icon-pinterest,
.connect-icon-insta,
.connect-icon-linked
{
background-color: #313639;
width: 50px;
height: 50px;
position: relative;
}
.connect-icon-fb:hover{
    background-color: #0843ba;
    transition: .3s;
    cursor: pointer;
    }
.connect-icon-youtube:hover{
    background-color: #FF0000;
    transition: .3s;
    cursor: pointer;
    }
.connect-icon-pinterest:hover{
    background-color: #E60023;
    transition: .3s;
    cursor: pointer;
    }
.connect-icon-insta:hover {
    transition: .3s;
    cursor: pointer;
    background-image:linear-gradient(to top left, rgba(254,218,117,1),rgba(250,126,30,1),rgba(214,41,118,1),
    rgba(150,47,191,1),rgba(79,91,213,1));
    }
.connect-icon-linked:hover{
    background-color: #0A66C2;
    transition: .3s;
    cursor: pointer;
    }    
.footer-col1-row1:hover,
.footer-col1-row2:hover,
.footer-col1-row3:hover,
.footer-col1-row4:hover,
.footer-col1-row5:hover,
.footer-col2-row1:hover,
.footer-col2-row2:hover,
.footer-col3-row1:hover,
.footer-col3-row2:hover,
.footer-col3-row3:hover,
.footer-col3-row4:hover,
.footer-col4-row1:hover,
.footer-col4-row2:hover,
.footer-col4-row3:hover,
.footer-col4-row4:hover,
.footer-col4-row5:hover{
    color: #D5001C;
    cursor: pointer;
    transition: .3s;
}
.share-hover{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    width:298px;
    height: 80px;
    margin-bottom: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top:50px;
    z-index:100;
    align-items: center;
    opacity: 0;
    transition: .3s;

}

.share-hover-icon1{
    background-color:#0843ba;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-color: #0843ba;
    border-width: .5px;
    border-style: solid;
    position: relative;
    transition: .3s;
 
    
}
.share-hover-icon2{
    background-color:white;
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: .5px;
    border-style: solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    
}
.share-hover-icon3{
    background-color:black;
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: .5px;
    border-style: solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.share-hover-icon4{
    background-color:#0A66C2;
    width: 50px;
    height: 50px;
    border-color:#0A66C2;
    border-width: .5px;
    border-style: solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.share-hover-icon5{
    background-color:#E60023;
    width: 50px;
    height: 50px;
    border-color:#E60023;
    border-width: .5px;
    border-style: solid;
    margin-right: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.share-hover-icon1 img,
.share-hover-icon2 img,
.share-hover-icon3 img,
.share-hover-icon4 img,
.share-hover-icon5 img
{
    width: 50px;
    height: 50px;
    display: absolute;
    left: 0;
}
.footer-container-connect-col-row1:hover .share-hover{
 cursor: pointer;
 opacity: 1;
 transition: .3s;
}
.footer-container-connect-col-row1:hover{
    cursor: pointer;
    background-color: #D5001C;
    transition: .3s;
}
.share-hover-icon1:hover{
    background-color: rgba(8, 67, 186,.5);
    border:none;
    transition: .3s;
}
.share-hover-icon2:hover{
    background-color: rgba(87, 87, 88, 0.5);
    border:none;
    transition: .3s;
}
.share-hover-icon3:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border:none;
    transition: .3s;
}
.share-hover-icon4:hover{
    background-color: rgba(10, 117, 194,.5);
    border:none;
    transition: .3s;
}
.share-hover-icon5:hover{
    background-color: rgba(230, 0, 35,.5);
    border:none;
    transition: .3s;
}



